* {
	padding: 0;
	margin: 0;
}

/* fuente */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;900&display=swap");
/* fuente */

body {
	background-color: #3c3c3c;
	min-height: 100vh !important;
	font-family: "Rubik", sans-serif;
	margin-bottom: 70px;
}

input.search {
	background-color: #d9d9d9;
	border-radius: 10px;
	height: 40px;
	width: 500px;
}

.cont-title {
	display: flex;
	justify-content: center;
	margin-top: 20vh;
}

.cont-terminos a {
	color: #aaa;
}

h1 {
	color: white;
	font-family: "Rubik", sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

nav {
	font-family: "Rubik", sans-serif;
}

nav ul {
	background: #222;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li a {
	color: white;
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
}

nav li a:hover {
	background: tomato;
	color: white;
}

.center-form {
	display: flex;
	justify-content: center;
	margin-top: 10%;
}

#icon {
	bottom: 0.5rem;
	cursor: pointer;
	display: block;
	position: absolute;
	right: -4rem;
	user-select: none;
}

.cont-search {
	max-width: 420px;
	position: relative;
}

footer {
	position: fixed;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.4);
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

.cont-footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.cont-redes {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 20px;
}

.menu_footer {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}

.pelis_ver {
	background: #444444;
	color: #aaa;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 300px;
}

.pelis_vistas {
	background: #444444;
	color: #aaa;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 300px;
}

.pelis_vistas ul li,
.pelis_ver ul li {
	list-style: none;
	padding: 0 0 10px 11px;
	font-family: "Rubik", sans-serif;
}

.cont__cuadro_peli {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5%;
}

.title-list {
	font-family: "Rubik", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #aaa;
	margin-bottom: 20px;
}
