* {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* fuente */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;900&display=swap");
/* fuente */

body {
	background-color: #3c3c3c;
	min-height: 100vh !important;
	font-family: "Rubik", sans-serif;
	margin-bottom: 100px;

	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto;
}

h2 {
	color: white;
	font-family: "Rubik", sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

p.vape {
	color: tomato;
	font-family: "Rubik", sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #222;
	align-items: center;
	width: auto;
}

header nav a:hover {
	background: tomato;
	color: white;
}

header .cont__logo img {
	max-height: 50px;
}

nav {
	font-family: "Rubik", sans-serif;
}

nav ul.menu__principal {
	display: flex;
	margin: 0;
	padding: 0;
}

nav li a {
	color: white;
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
}

nav li a:hover {
	background: tomato;
	color: white;
}

input.search {
	background-color: #d9d9d9;
	border-radius: 10px;
	height: 40px;
	width: 250px;
}

.cont-title {
	display: flex;
	justify-content: center;
	margin-top: 20vh;
}

.cont-terminos a {
	color: #aaa;
}

.center-form {
	display: flex;
	justify-content: center;
	margin-top: 10%;
}

#icon {
	bottom: 0.5rem;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 1rem;
	user-select: none;
}

.cont-search {
	max-width: 420px;
	position: relative;
}

footer {
	position: fixed;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.4);
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

.cont-footer {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
}

.cont-redes {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
}

.cont-redes ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}

.cont-redes ul li {
	margin-right: 15px;
}

.cont__cover_pelis {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;

	padding: 20px 80px;
}

.cont-form form {
	width: 300px;
	padding: 16px;
	border-radius: 10px;
	margin: auto;
	background-color: #ccc;
	background-color: #aaa;
	color: #3c3c3c;
	min-width: 300px;
}

form label {
	width: 72px;
	font-weight: bold;
	display: inline-block;
}

.cont-form form input[type="text"],
form input[type="email"] {
	width: 180px;
	padding: 5px 10px;
	border: 1px solid #f6f6f6;
	border-radius: 3px;
	background-color: #f6f6f6;
	margin: 8px 0;
	display: inline-block;
}

form input[type="submit"] {
	width: 100%;
	padding: 8px 16px;
	margin-top: 32px;
	border: 1px solid #000;
	border-radius: 5px;
	display: block;
	color: #fff;
	background-color: rgb(77, 77, 77);
	font-size: 22px;
}

.cont-form {
	margin-top: 5%;
	display: flex;
	color: white;
	justify-content: center;
}

.menu_footer {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}

.pelis_ver {
	background: #444444;
	color: #aaa;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 300px;
}

.pelis_vistas {
	background: #444444;
	color: #aaa;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 300px;
}

.pelis_vistas ul li,
.pelis_ver ul li {
	list-style: none;
	padding: 0 0 10px 11px;
	font-family: "Rubik", sans-serif;
}

.cont__cuadro_peli {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5%;
}

.title-list {
	font-family: "Rubik", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #aaa;
	margin-bottom: 20px;
}

.cont-faq {
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}

.cont-ask {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 22px;
	font-weight: 500;
	color: #aaa;
}

.cont-ask a {
	text-decoration: none;
	padding-bottom: 10px;
}
.cont-ask a:visited {
	color: white !important;
}
.cont-ask a:link {
	color: white !important;
}

.cont-ask li {
	padding-bottom: 10px;
}

.txt-terms {
	font-size: 22px;
	color: #aaa;
}

.cont-terms {
	margin: 5%;
	display: flex;
	justify-content: center;
}

@media (max-width: 450px) {
	.cont-title {
		padding: 0 5%;
	}
	.cont-title h2 {
		color: tomato;
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		overflow: hidden;
	}

	.cont-search {
		width: 250px;
	}

	nav ul {
		flex-direction: column;
	}

	h2 {
		font-size: 25px;
	}

	.cont-footer {
		flex-direction: column;
		padding: 20px 0;
	}

	footer {
		height: 140px;
	}
}
