@import "./misc/variables";
@import "./misc/normalize";

@import "./partials/footer";
@import "./partials/header";
@import "./misc/mixins";

@import "./views/contact";
@import "./views/faq";
@import "./views/login";
@import "./views/plataforms";
@import "./views/terms_conditions";
@import "./views/top_new";
@import "./views/watchlist";

h2 {
	color: $white;
	font-family: "Rubik", sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.tit__main span {
	font-size: map-get($fonts, "txt-large");
}

.tit__main {
	@include titulos($white, map-get($fonts, "txt-large"), $centrado);
}

.center__horizontal {
	@extend .center__horizontal;
}

.cont-title {
	@extend .center__horizontal;
	margin-top: 10vh;
}

.center-form {
	@extend .center__horizontal;
	margin-top: 10%;
}

.cont-search {
	max-width: 420px;
	position: relative;
}

.cont__dance {
	@extend .center__horizontal;
	align-items: center;
	margin-top: 5%;
}

.cont__redes {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3% 0;
}

img {
	&.dance {
		max-height: 200px;
	}
}
