@import "./misc/variables";
@import "./misc/normalize";
@import "./misc/mixins";
@import "./misc/animations";

@import "./partials/footer";
@import "./partials/header";

@import "./views/contact";
@import "./views/faq";
@import "./views/login";
@import "./views/plataforms";
@import "./views/terms_conditions";
@import "./views/top_new";
@import "./views/watchlist";

h2 {
	color: $white-main;
	font-family: "Rubik", sans-serif;
	font-size: map-get($fonts, "txt-medium");
	font-weight: bold;
	text-align: center;
}

.center__horizontal {
	@extend .center__horizontal;
}

.cont-title {
	@extend .center__horizontal;
	margin-top: 10vh;
}

.center-form {
	@extend .center__horizontal;
	margin-top: 10%;
}

#icon {
	bottom: 0.5rem;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 1rem;
	user-select: none;
}

.cont-search {
	max-width: 420px;
	position: relative;
}

.cont__dance {
	@extend .center__horizontal;
	align-items: center;
	margin-top: 5%;
}

.cont__redes {
	@extend .center__vertical;
	justify-content: space-between;
	padding: 3% 0;
}

img {
	&.dance {
		max-height: 200px;
	}
}
