/* animaciones */
.cont__logo {
	animation-duration: 3s;
	animation-name: aparecer;
	animation-iteration-count: infinite;
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.cont__dance {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}

.dance.move {
	animation-duration: 3s;
	animation-name: baila;
	animation-iteration-count: infinite;
}

.dance.move2 {
	animation-duration: 3s;
	animation-name: baila2;
	animation-iteration-count: infinite;
}

.dance.move3 {
	animation-duration: 3s;
	animation-name: baila3;
	animation-iteration-count: infinite;
}

@keyframes baila {
	from {
		margin-left: 0%;
	}

	25% {
		margin-left: 300%;
	}
	75% {
		margin-left: -300%;
	}

	to {
		margin-left: 0%;
	}
}

@keyframes baila2 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 50;
	}
	70% {
		opacity: 50;
	}
}

@keyframes baila3 {
	10% {
		opacity: 0;
	}
	50% {
		opacity: 20;
	}

	75% {
		opacity: 20;
	}

	25% {
		opacity: 100;
	}
}

img .dance.move2 {
	@keyframes baila {
		0% {
			display: none;
		}
		50% {
			display: none;
		}
		100% {
			display: block;
		}
	}
}

/* transiciones */

ul.cont__redes li img:hover {
	transform: scale(0.7);
}

.menu__principal ul li {
	font-style: italic;
}
