/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none; }

figure {
  padding: 0;
  margin: 0; }

/* fuente */
/* fuente */
body {
  background-color: #3c3c3c;
  font-family: "Rubik", sans-serif; }

.center-form, .cont-footer, .cont__redes, .pelis_ver, .pelis_vistas, .center__horizontal, .cont-title, .cont__dance {
  display: flex;
  justify-content: center; }

.center__vertical, .cont-ask, .cont__redes {
  display: flex;
  align-items: center; }

.center__total, .cont-terminos, .tit__main {
  display: flex;
  justify-content: center;
  align-items: center; }

.cont-terminos a {
  padding-top: 15%; }

.cont-faq {
  flex-direction: column; }

.cont-video {
  order: 1;
  margin-top: 5%; }

.cont-ask {
  margin-top: 5%;
  order: 0; }

.cont-title {
  padding: 0 5%; }

.cont-title h2 {
  color: tomato; }

.cont-search {
  width: 250px; }

nav ul {
  flex-direction: column; }

h2 {
  font-size: 25px; }

footer {
  height: 140px; }

.cont__cuadro_peli {
  flex-direction: column; }

.pelis_ver,
.pelis_vistas {
  margin: 10% auto 5%; }

@media (min-width: 768px) {
  .tit__main {
    padding-top: 5%;
    color: tomato; } }

@media (min-width: 1200px) {
  .cont-terminos a {
    padding-top: 0; } }

footer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px; }

.cont-footer {
  align-items: center;
  display: flex;
  justify-content: space-evenly; }

.cont-terminos a {
  color: #aaa; }

.center-form {
  margin-top: 10%; }

footer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px; }

.cont-footer {
  justify-content: space-evenly; }

.cont__redes {
  justify-content: space-between;
  padding: 3% 0; }

.tit__main {
  color: #c5c5c5;
  font-size: 3rem;
  text-align: center;
  padding-top: 7%; }
  .tit__main span {
    font-size: 3rem; }

.login__button {
  color: #c5c5c5;
  padding-top: 15%;
  margin: 0; }

header nav img {
  max-height: 55px; }

header nav ul {
  align-items: center; }
  header nav ul.menu__principal {
    display: flex;
    margin: 0;
    padding: 0; }
  header nav ul a {
    font-family: "Rubik", sans-serif;
    color: #c5c5c5;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none; }
    header nav ul a:hover {
      background: tomato;
      font-style: italic;
      color: palegreen; }
  header nav ul:first-child {
    background: none; }

.cont-ask {
  font-size: 1.5rem;
  font-weight: 500;
  color: #aaa; }
  .cont-ask a {
    text-decoration: none; }
    .cont-ask a:visited, .cont-ask a:link {
      color: white; }
  .cont-ask li {
    list-style: circle;
    padding-bottom: 10px; }

.film__found {
  color: #c5c5c5;
  font-size: 2rem;
  margin: 10% 0 8%; }

.pelis_ver {
  background: #555;
  color: #aaa;
  flex-direction: column;
  width: 300px;
  height: 350px;
  padding: 20px; }

.pelis_vistas {
  background: #555;
  color: #aaa;
  flex-direction: column;
  width: 300px;
  height: 350px;
  padding: 20px; }

.pelis_vistas ul li,
.pelis_ver ul li {
  list-style: none;
  padding: 0 0 10px 11px;
  font-family: "Rubik", sans-serif; }

.title-list {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #aaa;
  margin-bottom: 20px; }

h2 {
  color: #c5c5c5;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center; }

.cont-title {
  margin-top: 10vh; }

.center-form {
  margin-top: 10%; }

#icon {
  bottom: 0.5rem;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 1rem;
  user-select: none; }

.cont-search {
  max-width: 420px;
  position: relative; }

.cont__dance {
  align-items: center;
  margin-top: 5%; }

.cont__redes {
  justify-content: space-between;
  padding: 3% 0; }

img.dance {
  max-height: 200px; }
