footer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.cont-footer {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}


.cont-terminos {
  display: flex;
  justify-content: center;
  align-items: center;

  a{
      color: #aaa;
   }
}
 