footer {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

.cont-footer {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
}

.cont-terminos {
	@extend .center__total;

	a {
		color: #aaa;
	}
}

.center-form {
	@extend .center__horizontal;
	margin-top: 10%;
}

footer {
	position: fixed;

	background-color: rgba(0, 0, 0, 0.4);
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

.cont-footer {
	@extend .center__horizontal;
	justify-content: space-evenly;
}

.cont__redes {
	@extend .center__horizontal;
	justify-content: space-between;
	padding: 3% 0;
}
