.cont-footer {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
}

.cont-terminos {
	@extend .center__total;

	a {
		color: #aaa;
	}
}

.center-form {
	@extend .center__horizontal;
	margin-top: 10%;
}

footer {
	// background-color: rgba($color: $color-back-trans, $alpha: 0.5);
	background-color: $color-back-trans;
}

.cont-footer {
	@extend .center__horizontal;
	justify-content: space-evenly;
}

.cont__redes {
	@extend .center__horizontal;
	justify-content: space-between;
	padding: 3% 0;
}

.footer {
	position: fixed;
	height: 100px;
	bottom: 0;
	width: 100%;
}
