.tit__main {
	@include titulos($white-main, map-get($fonts, "txt-large"), $centrado);
	span {
		font-size: map-get($fonts, "txt-large");
	}
}

.login__button {
	color: $white_main;
	padding-top: 15%;
	margin: 0;
}

header nav {
	img {
		max-height: 55px;
	}

	ul {
		align-items: center;

		&.menu__principal {
			display: flex;
			margin: 0;
			padding: 0;
		}

		a {
			font-family: "Rubik", sans-serif;
			color: $white_main;
			display: block;
			padding: 0.5em 1em;
			text-decoration: none;
			&:hover {
				background: $bck-over;
				font-style: italic;
				color: palegreen;
				font-weight: bold;
			}
		}

		&:first-child {
			background: none;
		}
	}
}
@media (min-width: 768px) {
	.tit__main {
		padding-top: 5%;
		color: tomato;
	}

	.cont-title h2 {
		color: $bck-over;
	}
}

@media (min-width: 768px) {
	.tit__main {
		padding-top: 5%;
		color: tomato;
	}
}
