@mixin titulos($colors, $tam_font, $alin_txt) {
	color: $colors;
	@extend .center__total;
	text-align: $alin_txt;
	padding-top: 3%;
	font-size: $tam_font;
}

@mixin box__list__size {
	width: 300px;
	height: 350px;
	padding: 20px;
}

@media (max-width: 550px) {
	.tit__main {
		padding-top: 11%;
	}

	.cont-faq {
		flex-direction: column;
	}

	.cont-video {
		order: 1;
		margin-top: 5%;
	}

	.cont-ask {
		margin-top: 5%;
		order: 0;
	}

	.cont-title {
		padding: 0 5%;
	}

	.cont-title h2 {
		color: $bck-over;
	}

	.cont-search {
		width: 250px;
	}

	nav ul {
		flex-direction: column;
	}

	h2 {
		font-size: 25px;
	}

	.cont-footer {
		flex-direction: column;
		padding: 20px 0;
	}

	footer {
		height: 140px;
	}

	.cont__cuadro_peli {
		flex-direction: column;
	}

	.pelis_ver {
		margin: 10% auto 5%;
	}

	.pelis_vistas {
		margin: 5% auto;
	}
}
