/*Fuentes*/
$font-primary: "Rubik", sans-serif;
$color-background: #3c3c3c;
$color-white-trans: #aaa;
$white: rgb(197, 197, 197);
$white: rgb(197, 197, 197);

$centrado: center;

$fonts: (
	txt-large: 3rem,
	txt-medium: 2rem,
	txt-normal: 1rem,
);
