/*Fuentes*/
$font-primary: "Rubik", sans-serif;
$color-background: #3c3c3c;
$color-background-box: #555;
$color-back-trans: rgba(0, 0, 0, 0.3);
$color-white-trans: #aaa;
$white-main: #c5c5c5;
$bck-over: tomato;
$bck-form: #f06464;

$centrado: center;

$fonts: (
	txt-normal: 1rem,
	txt-nom-med: 1.5rem,
	txt-medium: 2rem,
	txt-large: 3rem,
);

$width-box: 250px;
$padding-box: 20px;
$height-box: 350px;
